doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TP3
  body
    script(src="/js/botonesScript.js")
    header
      h1 Hospital
    main
      div.botones
        button#registrar Registar paciente
        button#verTurnos Ver Turnos
        button#agregarTurno Agregar Turno
        button#borrarTurno Borrar Turno
        button#borrarPaciente Borrar Paciente