doctype html
html
  head
    title Formulario de Paciente
  body
    h1 Registrar Paciente

    form(action="/pacientes" method="POST")
      div
        label(for="dni") DNI:
        input(type="text" name="dni" id="dni" required)
      div
        label(for="nombre") Nombre:
        input(type="text" name="nombre" id="nombre" required)
      div
        label(for="apellido") Apellido:
        input(type="text" name="apellido" id="apellido" required)
      div
        label(for="email") Email:
        input(type="email" name="email" id="email" required)
      div
        label(for="password") Contraseña:
        input(type="password" name="password" id="password" required minlength="8")
      div
        button(type="submit") Enviar

