extends ../layout

block content
  form(action='/pacientes/nuevo', method='post')
    p
      label(for='dni') DNI:
      input(type='text', name='dni', required)
    p
      label(for='nombre') Nombre:
      input(type='text', name='nombre', required)
    p
      label(for='apellido') Apellido:
      input(type='text', name='apellido', required)
    p
      label(for='email') Email:
      input(type='email', name='email', required)
    p
      button(type='submit') Crear paciente
