body{
    background-color: #e4ddd1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

img{
    display: block; 
    margin: 0 auto; 
    width: 600px; 
    height: 300px; 
}
nav ul{
    list-style: none;
    display: flex;
    background-color: #333; 
    padding: 10px;
    justify-content: center; 
}

nav li{
    margin: 0 15px;
    font-family: 'Roboto', sans-serif; 
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

section h2{
    color: #4a4a4a; 
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
}

section img{
    width: 600px;
    height: 100%;
}
.card{
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.card p{
    margin-bottom: 0;
}
.card a{
    margin-top: 10px;
}

footer{
    background-color: lightblue;
    padding: 0;
    margin: 0;

}
footer p{
    text-align: center; 
    font-size: 0.75em; 
    margin-top: 20px; 
    color: #4a4a4a;

}
footer ul {
    list-style: none; 
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
  }
footer li {
    text-align: center;
    margin: 0 15px; 
    font-size: 0.75em;
    display: flex;
    align-items: center;
  }

footer li img{
  width: 20px;
  height: auto;
  margin-right: 10px;
}